@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

.footer {
  width: 77%;
  margin-left: auto; 
    margin-right: auto; 
    
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 200px;
  background-color: gray;
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .footer {
    padding: 10px 30px;
  }
}

.footer .top {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer .top .top1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .footer .top .top1 {
    flex-direction: column;
  }
}

.footer .top .top1 h2 {
  font-size: 2rem;
  color: #f5eeee;
  font-weight: bold;
}

.footer .top .top1 .lang {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer .top .top1 .lang select {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 14px;
  color: black;
  outline: none;
  scroll-behavior: smooth;
  padding: 10px 12px;
}

.footer .top .top1 .lang select option {
  background-color: white;
  padding: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.footer .top .bottom1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.footer .top .bottom1 .bottomContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer .top .bottom1 .bottomContent h4 {
  color: white;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.1rem;
}

.footer .top .bottom1 .bottomContent p {
  color: white;
  text-transform: capitalize;
}

.footer .top .bottom1 .bottomContent .links {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.footer .top .bottom1 .bottomContent img {
  width: 150px;
}

.footer .bottom p {
  text-align: start;
  color: rgb(245, 236, 236);
  font-size: 20px;
}
